.Schedule_container{
    position: fixed;
    height: 100%;
    width: 100%;
     background-color: bisque;
     text-align: center;
}

.card-container{
    max-width: 500px;
    width: 100%;
    margin: 10% auto;

}

.inp{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 15px;
}